#login {
  overflow: hidden;
}
  
#login>.login-area {
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
}
  
#login button {
  float: right;
}
  
.login-form {
  border: solid 1px #eaeaea;
  border-radius: 10px;
  padding: 30px;
  margin: auto;
  overflow: hidden;
  width: 50%;
  box-shadow: 5px 10px #eaeaea;
}
  
.center {
  text-align: center;
}

/*--------------------------- NAV ---------------------------*/
article .row {
  margin-top: 1em;
}